<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "https://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
<beans>
    <bean id="triangle" class = "com.mandala.spring.com.mandala.spring.SpringDemo.Triangle">
        <property name = "type" value="Equilateral"/>
    </bean>
</beans>
